<html>

<body>
    <pre class="mermaid">
        flowchart TB
        start(("&nbsp;fa:fa-play&nbsp;"))
        complete(("&nbsp;fa:fa-stop&nbsp;"))
        A("
            <div style='background-color: royalblue; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-radius: 5px 5px 0px 0px'>&nbsp;A (5)&nbsp;</div><div style='background-color: darksalmon; border-left: 1px solid black; border-right: 1px solid black'>&nbsp;25 min.&nbsp;</div><div style='background-color: lightgreen; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-radius: 0px 0px 5px 5px;'>&nbsp;100 USD&nbsp;</div>
        ")
        B("
            <div style='background-color: skyblue; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-radius: 5px 5px 0px 0px'>&nbsp;B (4)&nbsp;</div><div style='background-color: orangered; border-left: 1px solid black; border-right: 1px solid black'>&nbsp;35 min.&nbsp;</div><div style='background-color: limegreen; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-radius: 0px 0px 5px 5px;'>&nbsp;200 USD&nbsp;</div>
        ")
        C("
            <div style='background-color: powderblue; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-radius: 5px 5px 0px 0px'>&nbsp;C (1)&nbsp;</div><div style='background-color: lightsalmon; border-left: 1px solid black; border-right: 1px solid black'>&nbsp;15 min.&nbsp;</div><div style='background-color: green; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-radius: 0px 0px 5px 5px;'>&nbsp;500 USD&nbsp;</div>
        ")
        D("
            <div style='background-color: royalblue; border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black; border-radius: 5px 5px 0px 0px'>&nbsp;D (5)&nbsp;</div><div style='background-color: mistyrose; border-left: 1px solid black; border-right: 1px solid black'>&nbsp;5 min.&nbsp;</div><div style='background-color: palegreen; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-radius: 0px 0px 5px 5px;'>&nbsp;50 USD&nbsp;</div>
        ")
        start -."<span style='background-color: snow; color: royalblue;'>5</span>".- A
        A -->|"<span style='background-color: snow; color: skyblue;'>4</span><br/><span style='background-color: snow; color: darksalmon;'>10 min.</span>"| B
        A -->|"<span style='background-color: snow; color: powderblue;'>1</span><br/><span style='background-color: snow; color: red;'>5 min.</span>"| C
        B -->|"<span style='background-color: snow; color: skyblue;'>4</span><br/><span style='background-color: snow; color: orangered;'>15 min.</span>"| D
        C -->|"<span style='background-color: snow; color: powderblue;'>1</span><br/><span style='background-color: snow; color: lightsalmon;'>5 min.</span>"| D
        D -."<span style='background-color: snow; color: royalblue;'>5</span>".- complete
        class A,B,C,D activityclass
        class start startclass
        class complete completeclass
        classDef activityclass fill:#FFF,stroke:#FFF,stroke-width:0px
        classDef startclass fill:lime
        classDef completeclass fill:red
        linkStyle 0 stroke-width: 5px;
        linkStyle 1 stroke-width: 4px;
        linkStyle 2 stroke-width: 1px;
        linkStyle 3 stroke-width: 4px;
        linkStyle 4 stroke-width: 1px;
        linkStyle 5 stroke-width: 5px
    </pre>

    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
</body>

</html>